/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}