form {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 90px;
  }
  
  input{
    font-size: 90px;
    border: none;
    border-bottom: 1px solid black;
    width: 20%;
    text-align: center;
  }
  input:focus{
    outline: none;
  }
  
  .correctAnswer
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 300px;
    text-align: center;
    font-size: 28px;
  }
  