<!-- <app-placeholders-home></app-placeholders-home> -->

<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="" routerLinkActive="active" class="item"> 
            Anasayfa 
        </a>
        <a routerLink="placeholders" routerLinkActive="active" class="item"> 
            Placeholders 
        </a>
        <a routerLink="tables" routerLinkActive="active" class="item"> 
            Tables 
        </a>
        <a routerLink="lists" routerLinkActive="active" class="item"> 
            Lists 
        </a>
        <a routerLink="popups" routerLinkActive="active" class="item"> 
            Popups 
        </a>
    </div>

    <div class="ui segment">

        <router-outlet> </router-outlet>
        
    </div>

</div>
