<h1>Password Generator</h1>

<div class="mr-4">
    <label>Password Length</label>
    <input type="text">
</div>

<div class="mr-4">
    <label>Use Alphabet</label>
    <input type="checkbox">
</div>

<div class="mr-4">
    <label>Use Numbers</label>
    <input type="checkbox">
</div>

<div class="mr-4">
    <label>Use Symbols</label>
    <input type="checkbox">
</div>

<div>
    <button> Create</button>
</div>

<div class="mr-4">
    <label>Your Password:</label>
</div>

password : {{password}}
<br>
name : {{getName()}}

