.mainArea
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 721px;
  background-color: blueviolet;
}

.pending{
  color:gray;
}

.correct{
  color:green;
}

.incorrect{
  color:red;
  font-weight: bold;
}