<div (click)="CloseModal()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
      <i (click)="CloseModal()" class="close icon"></i>
      <div class="header">
        MODAL!
      </div>
      <div class="content">
        <p>
          Some content for the modal window should go right here!
        </p>
      </div> 
      <div class="actions">
        <button class="ui button" style="color:red">Hayır</button>
        <button (click)="CloseModal()" class="ui button" style="color:green">OK</button>
      </div>
    </div>
  </div>