<div class="container mt-5 auto">
  <div class="row">
    <div class="col-md-12 mb-4">
      <img src="" class="img-fluid" alt="...">
    </div>
    <div class="col-md-12">
      <nav>
        <ul class="pagination">

          <li class="page-item"
          [ngClass]="{ 'active' : i === currentPage}" 
          
          *ngFor="let image of images; let i = index">
            <a class="page-link" href="{{image.address}}">{{i+1}}</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- [ngClass]=" i === currentPage ? 'active':'' "  -->