<div class="container mt-5 auto">
  <div class="row">
    <div class="col-md-12 mb-4">
      <img src="" class="img-fluid" alt="...">
    </div>
    <div class="col-md-12">
      <nav>
        <ul class="pagination">

          <li class="page-item" 
          [ngClass]="{disabled: currentPage === 0}">
            <a (click)="previous()" class="page-link"  href="#">Previous</a>
          </li>

          <li class="page-item"
          [ngClass]="{ active : i === currentPage}" 

          *ngFor="let image of images; let i = index">
            <a (click)="currentPage = i" class="page-link" href="#">{{i+1}}</a>
          </li>

          <li class="page-item"
          [ngClass]="{disabled: currentPage === (images.length-1)}">
            <a (click)="next()" class="page-link" href="#">Next</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- [ngClass]=" i === currentPage ? 'active':'' "  -->
<!-- (click)="changePage(i)" -->