<h1>Password Generator</h1>

<div class="mr-4">
    <label>Password Length</label>
    <input type="text">
</div>

<div class="mr-4">
    <label>Use Alphabet</label>
    <input type="checkbox" (change)="modifyLetters()">
</div>

<div class="mr-4">
    <label>Use Numbers</label>
    <input type="checkbox" (change)="modifyNumbers()">
</div>

<div class="mr-4">
    <label>Use Symbols</label>
    <input type="checkbox" (change)="modifySymbols()">
</div>

<div>
    <button (click)="buttonClick()"> Create</button>
</div>

<div class="mr-4">
    <label>Your Password:</label>
    <input type="text">
</div>